//font

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans);

$JoseSans: 'Josefin Sans', sans-serif;
$OpenSans: 'Open Sans', sans-serif;

//colors

$black: #1f2226;
$red: #f41c54;
$pale: #fff9e8;
$blue: #19c2de;
$white: #fdfef9;
